body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}
body {
    background-image: url('Valentines.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.container {
    width: 80%;
    margin: auto;
}
.main-info {
    background: #333;
    color: #fff;
    padding: 20px;
    opacity: 0.9;
}
.main-info h1 {
    margin: 0;
}
.Questions {
    background: #504848;
    padding: 10px;
    margin-top: 20px;
    opacity: 0.9;
}
.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}